@using CorrespondentPortal.WebApi.Infrastructure.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/clui/dist/css/corelogic-ui.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
    <title>CorrespondentPortal</title>
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <nav class="navbar navbar-expand-md navbar-dark cl-main-nav">
        <a class="navbar-brand" href="~/">
            <span class="navbar-logo"></span>
            <span class="text-uppercase">Correspondent Portal</span>
        </a>
        <div class="navbar-links navbar-toggler" id="navbarMobileToggler">
            <nav class="nav">
                <a aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation"
                   class="nav-item nav-link collapsed menu-toggle" data-toggle="collapse" href="#navbarSupportedContent">
                    <span aria-hidden="true" class="fa fa-bars"><span class="sr-only">Toggle Navigation</span></span>
                </a>
            </nav>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <div class="navbar-search d-md-none">
                <div class="form-group">
                    <label class="sr-only" for="mainNavbarSearchMobile">Search</label>
                    <div class="input-group">
                        <input class="form-control" id="mainNavbarSearchMobile"
                               placeholder="Search" type="text" value=""
                               autocomplete="off" aria-autocomplete="list">
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
            <div class="navbar-links">
                <nav class="navbar-nav">
                    <a class="nav-item nav-link active" href="../LoanSubmission">
                        Loan Submission <span class="sr-only">(current)</span>
                    </a>
                    <div class="nav-divider"></div>
                    <a class="nav-item nav-link active" href="../LoanManagement">
                        Loan Management <span class="sr-only"></span>
                    </a>
                    <div class="nav-divider"></div>
                    <a class="nav-item nav-link active" href="../Account">
                        Account <span class="sr-only"></span>
                    </a>
                </nav>
            </div>
            <div class="navbar-links ml-auto d-sm-none d-md-flex">
                <nav class="nav">
                    <a aria-controls="navbarSearchContainer" aria-expanded="false" aria-label="Toggle Search"
                       class="nav-item nav-link navbar-search-toggle collapse" data-toggle="collapse"
                       href="#navbarSearchContainer">
                        <span aria-hidden="true" class="fa fa-search">
                            <span class="sr-only">Toggle Search</span>
                        </span>
                    </a>
                </nav>
            </div>
            @*<div class="navbar-links ml-auto">
                    <nav class="nav">
                        <div class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="d-block d-md-none">
                                    <a href="@Url.Action("SignOut", "Account")" class="nav-link">
                                        <span class="fa fa-fw fa-user"><span class="sr-only">Sign Out @User.Identity.Name</span></span>
                                        <span class="text-uppercase">Sign Out @User.Identity.Name</span>
                                    </a>
                                </div>
                                <a href="@Url.Action("SignOut", "Account")" class="nav-link d-none d-md-block" data-toggle="tooltip"
                                   data-placement="left" title="Sign Out" data-trigger="hover" data-container="body">
                                    <span class="fa fa-fw fa-sign-out"><span class="sr-only">Sign Out @User.Identity.Name</span></span> Sign Out @User.Identity.Name
                                </a>
                            }
                            else
                            {
                                <div class="d-block d-md-none">
                                    <a href="@Url.Action("SignIn", "Account")" class="nav-link">
                                        <span class="fa fa-fw fa-user"><span class="sr-only">Sign In</span></span>
                                        <span class="text-uppercase">Sign In</span>
                                    </a>
                                </div>
                                <a href="@Url.Action("SignIn", "Account")" class="nav-link d-none d-md-block" data-toggle="tooltip"
                                   data-placement="left" title="Sign In" data-trigger="hover" data-container="body">
                                    <span class="fa fa-fw fa-user"><span class="sr-only">Sign In</span></span> Sign In
                                </a>
                            }
                        </div>
                    </nav>
                </div>*@
        </div>
        <div class="navbar-search-container collapse" id="navbarSearchContainer" style="">
            <div class="navbar-search">
                <div class="form-group">
                    <label class="sr-only" for="mainNavbarSearch">Search</label>
                    <div class="input-group">
                        <input class="form-control" id="mainNavbarSearch" placeholder="Search" type="text" value="">
                    </div>
                    <a class="clear-search" href="javascript:">
                        ×
                        <span class="sr-only">Clear Search Field</span>
                    </a>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-primary">Search</button>
                </div>
                <button aria-label="Close" class="navbar-close" data-toggle="collapse" href="#navbarSearchContainer"
                        type="button" aria-expanded="true">
                    <span aria-hidden="true" class="clear-search">×</span>
                </button>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="footer footer-white">
        <div class="footer-logo">
            <div class="clgx-logo"></div>
        </div>
        <div class="footer-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">About Our Company</a>
                </li>
                <li class="nav-divider"></li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">Contact Us</a>
                </li>
                <li class="nav-divider"></li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">FAQs</a>
                </li>
                <li class="nav-divider"></li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">Sitemap</a>
                </li>
                <li class="nav-divider"></li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">Terms of Use</a>
                </li>
                <li class="nav-divider"></li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">Policies</a>
                </li>
            </ul>
            <div class="footer-date">
                @ViewBag.ReleaseName | © 2018 CoreLogic. All Rights Reserved.
            </div>
        </div>
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/clui/dist/js/corelogic-ui.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/lib/Knockout/knockout-3.5.0rc2.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>